.container{
  padding: 20px;
  text-align: center;
}

.default-values-container{
  margin: 20px;
    .element {
      margin: 0 5px;
    }
}

mat-card {
  background-color: #1b1b1b;
  color: white;
}

::ng-deep mat-label {
 color: white;
}